body {
	margin:  0;
	font-family: verdana;
}

p {
	white-space: pre;
	margin: 0px;
	font-size: 14px;
}

#adjacency-matrix td, #adjacency-matrix th, #dijkstra-table td, #dijkstra-table th {
	width: 25px;
	height: 25px;
	text-align: center;
}

#adjacency-list td {
	width: 200px;
	height: 25px;
	white-space: pre;
	/*text-align: center;*/
}

h2 {
	display: inline;
	font-weight: normal;
	font-size: 18px;
}

.container {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.container-div {
	width:  50vw;
	background-color: #F0F0F0;
	margin:  5px;
	border-radius: 10px;
}

.input-container {
	margin-right:  0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.graph-container {
	margin-right: 0px;
}

.algo-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-method-container {
	display: flex;
	justify-content: center;
}

.bfs-input-container {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
}

.node {
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	padding-top: 8px;
	box-sizing: border-box;
	height:  40px;
	width:  40px;
	position: absolute;
	left:  75vw;
	top:  50vh;
	z-index: 1;
	background-color: #F0F0F0;
}

.left-button {
	background-color: white;
	border:  1px solid darkgrey;
	border-top-left-radius:  5px;
	border-bottom-left-radius:  5px;
}

.middle-button {
	background-color: #F0F0F0;
	border:  1px solid darkgrey;
}

.right-button {
	background-color: #F0F0F0;
	border:  1px solid darkgrey;
	border-top-right-radius:  5px;
	border-bottom-right-radius:  5px;
}

#adjacency-list, #dfs, #dijkstra {
	display: none;
}

#adjacency-matrix td, #dijkstra-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

#adjacency-matrix, #adjacency-matrix th, #adjacency-matrix td, #dijkstra-table, #dijkstra-table th, #dijkstra-table td {
  border-collapse: collapse;
}

.edge {
	height:  0px;
	border-top: 2px solid black;
	z-index: 0;
	transform-origin: 0% 0%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.weight {
	display: inline;
	background-color: #F0F0F0;
	transform-origin: 50% 50%;
}

.arrow-container {
	position:  absolute;
	z-index: 0;
	background-color: black;
	width:  12px;
	height:  9px;
}

.arrow-left {
	position: absolute;
	bottom:  0px;
	background-color: #F0F0F0;
	width: 12px;
	height: 6px;
	transform-origin: 0% 100%;
	transform:  rotate(-55deg);
}

.arrow-right {
	position: absolute;
	right:  0px;
	bottom:  0px;
	background-color: #F0F0F0;
	width: 12px;
	height: 6px;
	transform-origin: 100% 100%;
	transform:  rotate(55deg);
}

#bfs-code-container, #dfs-code-container, #dijkstra-code-container {
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
	border: 1px solid darkgrey;
	border-radius: 5px;
}

#bfs-code-container p, #dfs-code-container p, #dijkstra-code-container p {
	font-family: courier;

}

#bfs-source, #dfs-source, #dijkstra-source {
	width:  20px;
}

.bfs-controls {
	display: flex;
}

.output-container {
	display: flex;
	gap: 15px;
}

#bfs-terminal, #dfs-terminal {
	height:  150px;
	width:  250px;
	white-space: pre-wrap;
	background-color: whitesmoke;
	border: 1px solid darkgrey;
	border-radius: 5px;
}

#bfs-q, #dfs-q {
	height:  150px;
	width:  50px;
	white-space: pre-wrap;
	background-color: whitesmoke;
	border: 1px solid darkgrey;
	border-radius: 5px;
}

/** Dijkstra **/

.dijkstra-output-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#dijkstra-vset {
	/*height:  150px;*/
	width:  150px;
	white-space: pre-wrap;
	background-color: whitesmoke;
	border: 1px solid darkgrey;
	border-radius: 5px;
}

.bfs, .dfs, .dijkstra {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#weight-prompt-background {
	display: none;
	position: absolute;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	background-color: #303030B0;
}

.weight-prompt-container {
	position: absolute;
	height: 150px;
	width: 200px;
	background-color: white;
	border-radius: 5px;
	left: calc(50vw - 100px);
	top: calc(50vh - 75px);
}


.weight-button-container {
	display: flex;
	gap: 10px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	/*float: right;*/
}

.weight-input-container-wrapper {
	position: relative;
	top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.weight-input-container {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
}

.prompt-button {
	/*height:  40px;*/
	border: solid;
	border-color: black;
	border-radius: 5px;
	border-width: 0px;
	background-color: #D0D0D0;
	font-weight: bold;
	color: #303030;
}

#weight-accept-button {
	background-color: #1b7ced;
	/*color: white;*/
	
	padding: 10px;
}

#weight-value {
	width:  100px;
}

.readme {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	left: 20px;
	bottom: 20px;
}